.bg-dark{
	background-color: #15184b!important;
}
body {
	height: 100%;
}

/*cover*/

:root {
	--jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	
	background: url('../images/wide/31-cover.jpg');
	background-color: #fff;
	background-position:  top;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	font-weight: 900;
	}
	#container2{
		background-color: rgba(255, 255, 255, 0.407);
	}
  
  @media (min-width: 768px) {
	.jumbotron {
	  padding-top: calc(var(--jumbotron-padding-y) * 2);
	  padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	}
  }
  
  .jumbotron p:last-child {
	margin-bottom: 0;
  }
  
  .jumbotron-heading {
	font-weight: 300;
  }
  
  .jumbotron .container {
	max-width: 40rem;
  }

#row1{
	margin-bottom: 5%;
}
.card-text{
	text-align: center;
	padding: 2%;
}
#elegant{
	margin-top: 5%;
	margin-bottom: 5%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
}
#what-we-do {
	padding-top: 6%;
	font-weight: 300;
}

#leader {
    padding-bottom: 2%;
    padding-top: 2%;
}
img {
    max-width: 100%;
}

#footer-main {
    background: #222;
    color: white;
    font-size: .8rem;
    padding: 2.5rem 0;
}

.col-sm-10 {
    align-items: center;
    padding: 5%;
}
#btn{
	margin-top: 3px;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
#experience{
	font-weight: 300;
}
#stage-caption {
	font-size: 1.4rem;
	font-weight: 100;
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;
}

#stage-caption h1 {
	color: white;
	font-weight: 900;
	text-transform: uppercase;
}
.feature-content{
	padding: 8rem 0;
	overflow: hidden;
}
.feature-content img{
	margin-bottom: -8rem;
}
.feature-dark{
	background-color: #262F36;
	color: white;
}
.feature-dark h2{
	color: white;
}
/* Media Query */

@media screen and ( min-width: 991px ){

	.feature-content{
			display: flex;
			align-items: center;
	}
	
	#container2{
		background-color: rgba(36, 0, 94, 0.514);
		width: 45%;
		color: white;
	}
}
h6 {
	text-transform: uppercase;
	font-size: .8rem;
	letter-spacing: .1rem;
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 200;
	line-height: 1.2;
	color: rgb(108, 111, 115);
}

.nav-item:hover{
	background: var(--primary);
	transition: all 0.1s ease-in-out;
}
.navbar{ padding: 0 1rem; }
.nav-item{ padding: 0.5rem; }

.general-search-input{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}
.general-search-input:focus{   outline: 0px; 	}
.general-search-btn{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}


@media screen and ( max-width: 400px ){

	#searchBar{
		width: 85%;
	}

	#container2{

		background: rgba(34, 34, 34, 0.589);
		color: white;

	}
	.jumbotron-heading, .jumbotron-heading>.lead{
		font-size: 25px;
	}
	.jumbotron-heading~.lead{

		display: none;
	}
	.feature-content{
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

}
@media screen and ( max-width: 350px ){

	.pagination{
		font-size: 12px;
	}
	.page-item{
		width: 40%;
	}
}





